
vendor-prefixes ?= webkit moz o ms official

@import '/includes/mixins'
@import guide
@import '/includes/*'

.clear
  clearfix()

html, body
  margin 0
  padding 0

body
  margin 0
  padding 0
  background-color gc(white1)
  color gc(black1)
  gf(copy1)

// pages
@import 'index'

.error
  color gc(red1)
  gf(h1)
  text-align center
  margin 100px 0
