extends ../../extend/layout

block content
  .section.section_article(data-section='article')
    .hero.basal-entry(basal-entity='image',basal-type='css-background')
    .xing
      include ../../../vector/divider1.svg
    .title.basal-entry(basal-entity='title')
    time.date.basal-entry(basal-date='created')
    .blog.basal-entry(basal-entity='blog')

  script.
    Article.i()
