footer
  .inner
    .section
      .socials
        a.social.facebook(href='http://www.facebook.com/goldpr', target='_new')
          include ../../pub/svg/facebook.svg
        a.social.twitter(href='http://www.twitter.com/goldpr', target='_new')
          include ../../pub/svg/twitter.svg
        a.social.instagram(href='http://www.instagram.com/goldpr', target='_new')
          include ../../pub/svg/instagram.svg
    .section
      .inquiries
        .copy inquiries
        a.email(href='mailto:hello@goldpr.com') hello@goldpr.com
        a.email(href='tel:9497433911') 949.743.3911
    .section
      .copyright &copy; 2015 gold pr, llc.
