
extends ../inc/layout

block content
  .guide
    .title Gold PR style guide

    .sections
      .section.colors
        .title Colors
        each color, name in data.colors
          .color(class='color_'+name) #{name} (#{color})
      .section.fonts
        .title Fonts

        .font.font_f_copy f_copy 18px gotham light
        .font.font_f_h1 f_h1 40px neutraface GOLD
      .clear
