footer
  .inner
    .quadrant
      .socials
        a.social.facebook(href=config.social.facebook, target='_new')
          include ../../vector/facebook.svg
        a.social.twitter(href=config.social.twitter, target='_new')
          include ../../vector/twitter.svg
        a.social.instagram(href=config.social.instagram, target='_new')
          include ../../vector/instagram.svg
    .quadrant
      .inquiries
        .copy inquiries
        a.email(href='mailto:hello@goldpr.com') hello@goldpr.com
        a.email(href='tel:9497433911') 949.743.3911
    .quadrant
      .copyright &copy; 2015 gold pr, inc.
