
header#home
  include _header
header#sticky.off
  include _header

.burger.off
    .clear
    .line
    .line
    .line
.mobile.off
  .inner
    .menu
      a.option.off(class='option_home',href='/#home',data-anchor='home') home
      include _menu
