.guide {
  padding: 50px 0 0 0;
  background-color: #f7eeea;
}
.guide > .title {
  font: 40px neutratext bold;
  padding: 0 0 0 50px;
  text-transform: uppercase;
}
.guide > .sections {
  padding: 20px;
}
.guide > .sections > .section {
  width: 33%;
  float: left;
}
.guide > .sections > .section > .color {
  padding: 10px 20px;
  margin: 5px;
}
.guide > .sections > .section > .color.color_black1 {
  background-color: #000;
  border: 1px solid #f7eeea;
  color: #f7eeea;
}
.guide > .sections > .section > .color.color_white1 {
  background-color: #f7eeea;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_red1 {
  background-color: #ee697a;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_blue1 {
  background-color: #d1e0eb;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .color.color_gold1 {
  background-color: #b0976d;
  border: 1px solid #000;
  color: #000;
}
.guide > .sections > .section > .font {
  padding: 10px 20px;
  margin: 5px;
  background-color: #f7eeea;
  white-space: nowrap;
  overflow-x: scroll;
}
.guide > .sections > .section > .font.font_f_copy {
  font: 20px gotham book;
}
.guide > .sections > .section > .font.font_f_copy2 {
  font: 30px gotham book;
}
.guide > .sections > .section > .font.font_f_h1 {
  font: 40px neutratext bold;
}
@font-face {
  font-family: gotham blaq;
  src: url("fnt/gotham/blaq.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham bold;
  src: url("fnt/gotham/bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham book;
  src: url("fnt/gotham/book.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham light;
  src: url("fnt/gotham/light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham medium;
  src: url("fnt/gotham/medium.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham thin;
  src: url("fnt/gotham/thin.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham ultra;
  src: url("fnt/gotham/ultra.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: gotham xlight;
  src: url("fnt/gotham/xlight.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutradisplay bold;
  src: url("fnt/neutradisplay/bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutradisplay boldalt;
  src: url("fnt/neutradisplay/boldalt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutradisplay light;
  src: url("fnt/neutradisplay/light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutradisplay lightalt;
  src: url("fnt/neutradisplay/lightalt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutradisplay medium;
  src: url("fnt/neutradisplay/medium.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutradisplay mediumalt;
  src: url("fnt/neutradisplay/mediumalt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutradisplay thin;
  src: url("fnt/neutradisplay/thin.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutradisplay thinalt;
  src: url("fnt/neutradisplay/thinalt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutradisplay titling;
  src: url("fnt/neutradisplay/titling.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutratext bold;
  src: url("fnt/neutratext/bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutratext boldalt;
  src: url("fnt/neutratext/boldalt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutratext light;
  src: url("fnt/neutratext/light.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutratext lightalt;
  src: url("fnt/neutratext/lightalt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutratext medium;
  src: url("fnt/neutratext/medium.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutratext mediumalt;
  src: url("fnt/neutratext/mediumalt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutratext thin;
  src: url("fnt/neutratext/thin.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutratext thinalt;
  src: url("fnt/neutratext/thinalt.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neutratext titling;
  src: url("fnt/neutratext/titling.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.clear {
  zoom: 1;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f7eeea;
  color: #000;
  font: 20px gotham book;
}
.soon {
  background-color: #d1e0eb;
  height: 100%;
}
.soon > .border {
  margin: 40px;
  padding: 80px;
  border: 5px solid #f7eeea;
}
.soon > .border > .box > .left {
  float: left;
  width: 50%;
  background-color: #f7eeea;
}
.soon > .border > .box > .left > .icon {
  width: 125px;
  height: 125px;
}
.soon > .border > .box > .left > .icon > svg {
  width: inherit;
  height: inherit;
}
.soon > .border > .box > .right {
  float: right;
  width: 50%;
  background-color: #ee697a;
  color: #f7eeea;
}
