extends ../extend/layout

block content
  .section.section_blog(data-section='blog')
    .entries
      each val in [1,2,3,4,5,6]
        a.entry(href='/entry')
          .image(style='background-image: url(/images/blog/entry.jpg)')

          .title GOLD PR WINS NATIONAL AWARD
          .description Gold PR, a Southern California public relations agency, was awarded the PR News “Agency Elite” award...
      .clear

    .pages
      a.page.next(href='/blog/')
        .arrow
          include ../../vector/arrow.svg
        .pcopy Load More

