extends ../extend/layout

block content
  .section.section_blog(data-section='blog')
    .entries.basal-loop(basal-structure='blog')
      a.entry.basal-link(basal-link='/blog/article/#')
        .image(basal-name='image',basal-type='css-background')
        .title(basal-name='title')
        .description(basal-name='description')
    .clear

    //-.pages
      a.page.next(href='/blog/')
        .arrow
          include ../../vector/arrow.svg
        .pcopy Load More

    script.
      Blog.i()
