.soon
  background-color: c.blue1
  height 100%
  > .border
    margin 40px
    padding 80px
    border: 5px solid c.white1
    > .box
      > .left
        float left
        width 50%
        background-color: c.white1
        > .icon
          width 125px
          height 125px
          > svg
            width inherit
            height inherit
      > .right
        float right
        width 50%
        background-color: c.red1
        color: c.white1

