.lax
  height 40vw
  overflow hidden
  position relative
  &.contact > .inner
    background-image url(/img/lax/contact.jpg)
    background-position 0% 70%
  &.work > .inner
    background-image url(/img/lax/work.jpg)
    background-position 0% 70%
  &.clients > .inner
    background-image url(/img/lax/clients.jpg)
    background-position 0% 90%
  &.team > .inner
    background-image url(/img/lax/team.jpg)
    background-position 0% 90%
  &.services > .inner
    background-image url(/img/lax/services.jpg)
    background-position 0% 90%
  &.closecheers > .inner
    background-image url(/img/lax/closecheers.jpg)
    background-position 0% 0%
  &.cheers > .inner
    background-image url(/img/lax/cheers.jpg)
    background-position 50% 0%
  &.standout > .inner
    background-image url(/img/lax/standout.jpg)
    background-position 50% 50%
  > .inner
    height 200%
    background-size cover
    margin-top -15%
  > .overlay
    position absolute
    font: f.h2
    padding 25px
    &.wider
      padding 25px 12vw
    letter-spacing 1px
    > .title
      font: f.h1
    > .text
      line-height 30px
    &.upper
      text-transform uppercase
    &.topright
      top 10%
      right 0
    &.midleft
      top 40%
      left 0
    &.midright
      top 40%
      right 0
    &.centered
      top 50%
      left 50%
      margin-top -126px
      margin-left -197px
      text-align center
    &.gold
      background-color: rgba(c.white2, 0.8)
      color: c.gold1
    &.red
      background-color: rgba(c.red1, 0.8)
      color: c.white1
      > .inner > .title
        color: c.white1

/*
.lax.off > .overlay
  opacity 0
  transition opacity 0.2s linear 0.5s
.lax.on > .overlay
  opacity 1
  transition opacity 0.5s linear 0s
*/

.dblreds
  border-top: 2px solid c.red1
  border-bottom: 2px solid c.red1
  height 10px
  margin 20px 0

.title
  color: c.gold1
  font: f.h3
  text-transform uppercase
  text-align center
  padding 20px 0
  > .f_h4
    font: f.h4
    display inline
  &.sub
    color: c.red1
    text-decoration underline
    font: f.h5

.copy
  max-width 900px
  margin auto
  padding 20px 50px
  line-height 25px
  &.medium, > .medium
    font: f.copy2
  > .medium
    display inline
  &.upper
    text-transform uppercase
  &.center
    text-align center
  &.nobotpad
    padding 20px 50px 0 50px
  &.notoppad
    padding 0 50px 20px 50px

a.link
  display block
  color: c.red1
  font: f.copy4
  text-align center
  text-decoration none
  margin 0 0 20px 0

.xing
  text-align center
  color: c.red1
  letter-spacing 10px
  font-size 20px

.svgstroke
  fill none
  stroke: c.red1
  stroke-width 1.7735
  stroke-linecap round
  stroke-linejoin round
  stroke-miterlimit 10

.sections
  desktop()
  padding 20px 50px

  > .section
    width 33%
    height 400px
    float left
    > .thumbnail
      width 30%
      margin auto
      padding 0 0 20px 0
      border-bottom: 2px solid c.gold1
      &.at > svg > g > path
        fill: c.red1
    > .copy
      padding 30px 50px
      line-height 25px


.sections > .section.off
  opacity 0
  transition opacity 0.2s linear 0.2s, transform 0.2s linear 0.2s
.sections > .section.on
  opacity 1
  transform translate(0, 0)
  transition opacity 0.2s linear 0s, transform 0.2s linear 0s

.sections > .section.off
  transform translate(-20px, 0)

for num in 1..3
  .sections > .section:nth-child(3n+{num})
    transition-delay unit(num*0.1, 's')


.cta
  font: f.h2
  padding 25px
  letter-spacing 1px
  background-color: rgba(c.white2, 0.8)
  color: c.gold1
  width 320px
  text-align center
  text-transform uppercase
  margin 20px auto

.steps
  width 900px
  margin auto
  > .step
    width 50%
    &.left
      float left
    &.right
      float right
      margin 100px 0 0 0
    > .number
      font: f.h6
      color: c.blue1
      text-align right
      margin 0 150px 0 0
    > .title
      text-align left
      padding 0
      color: c.red1
      margin -240px 0 0 0
    > .copy
      padding 0 100px 0 0

.steps > .step.off
  opacity 0
  transition opacity 0.2s linear 1s, transform 0.2s linear 1s
.steps > .step.on
  opacity 1
  transform translate(0, 0)
  transition opacity 0.4s linear 0s, transform 0.4s linear 0s

.steps > .step.off
  transform translate(0, -40px)

.values
  width 900px
  margin auto
  column-count 2
  column-gap 50px
  > .value
    > .title
      color: c.red1
      padding 0 0 10px 0
      font: f.h5
    > .copy
      padding 0 0 20px 0
      text-align center
    &:nth-child(5) > .title
        -webkit-column-break-before always


.values > .value.off 
  opacity 0
  transition opacity 0.2s linear 1s
.values > .value.on 
  opacity 1
  transition opacity 0.2s linear 0s

for num in 1..2
  .values > .value:nth-child(2n+{num})
    transition-delay unit(num*0.1, 's')

.listings
  width 900px
  margin auto
  column-count 3
  column-gap 50px
  > .listing
    > .title
      padding 10px 0 10px 0
      color: c.black1
      font: f.copy1
      text-align left
    > .copy
      padding 0
      font: f.copy3
    &:nth-child(3) > .title
      -webkit-column-break-before always

.teamlist
  width 900px
  margin auto
  > .member
    width 33%
    float left
    position relative
    > .inner
      width 90%
      margin 5%
      height 300px
      background-size cover
      background-position 100% 0%
      background-repeat no-repeat
    > .name
      position absolute
      bottom 10%
      left 5%
      background-color: rgba(c.white2, 0.8)
      color: c.gold1
      width 50%
      padding 10px
      text-align center
.teamlist > .member.off
  opacity 0
  transition opacity 0.2s linear 2s, transform 0.2s linear 2s
  transform translate(0, -20px)
.teamlist > .member.on
  opacity 1
  transition opacity 0.2s linear 0s, transform 0.2s linear 0s
  transform translate(0, 0)

for num in 1..3
  .teamlist > .member:nth-child(3n+{num})
    transition-delay unit(num*0.1, 's')


.clientlist
  width 900px
  margin auto
  > .client
    width 20%
    float left
    > .inner
      height 100px
      margin 20px
      background-size contain
      background-position 50% 50%
      background-repeat no-repeat

@media all and (min-width: 1px) and (max-width: 1000px)
  .lax
    height 70vw
    > .inner > .overlay.centered
      margin-top -106px
  
  .copy
    padding 10px 20px
    &.nobotpad
      padding 10px 20px 0 20px
    &.notoppad
      padding 0 20px 10px 20px



  .sections
    padding 10px 20px
    > .section
      width auto
      height auto
      margin auto
      transition-delay 0s !important
      > .copy
        padding 10px 10px 50px 10px
  .steps
    width 100%
    > .step
      width 90%
      margin 5% !important
      float none !important
      > .number
        margin 0
      > .copy
        padding 0
  .values
    width auto
    padding 10px 
    column-count auto
    column-gap 1px
    &:nth-child(5) > .title
        -webkit-column-break-before avoid

  .listings
    width auto
    padding 20px 10px
    column-count auto
    column-gap 0px
    > .listing > .title
      padding 10px 0 5px 0
  
  .teamlist
    width auto
    > .member
      width auto
      float none
      margin auto

  .clientlist
    width auto
    text-align center
    > .client
      width 40%
      float none
      margin auto
      display inline-block
      > .inner
        margin 10px 0
  for num in 1..2
    .clientlist > .client:nth-child(2n+{num})
      transition-delay unit(num*0.1, 's')
