
vendor-prefixes ?= webkit moz o ms official

@import '/inc/mixins'
@import guide
@import '/inc/*'

.clear
  clearfix()

html, body
  margin 0
  padding 0
  height 100%
  overflow hidden
  ::-webkit-scrollbar 
    width 0 !important 
  -ms-overflow-style none
  overflow -moz-scrollbars-none
  

body
  margin 0
  padding 0
  background-color: c.white1
  color: c.black1
  font: f.copy1
  transform-style preserve-3d
  overflow-y scroll
  overflow-x hidden

#container
  margin 0
  padding 0
  height 100%
  overflow-x hidden
  perspective 1px
  transform-style preserve-3d
  position relative



// pages
@import 'index'
