
vendor-prefixes ?= webkit moz o ms official

@import '/inc/mixins'
@import guide
@import '/inc/*'

.clear
  clearfix()

html, body
  margin 0
  padding 0
  height 100%
  overflow hidden

body
  margin 0
  padding 0
  background-color: c.white1
  color: c.black1
  font: f.copy1
  transform-style preserve-3d
  overflow-y scroll

#container
  height 100%
  overflow hidden
  overflow-y scroll
  perspective 1px
  transform-style inherit
  position relative





// pages
@import index
