
vendor-prefixes ?= webkit moz o ms official

c = {}
for key, value in data.colors
  c[key] = convert(value)

// needed
@import guide
@import vendor
@import mixins
@import fonts
//@import /inc/*

.clear
  clearfix()

body
  margin 0
  padding 0
  background-color: c.white1
  color: c.black1
  font f_copy

// pages
@import index
