
footer
  background-color gc(red1)
  > .inner
    desktop()
    padding 100px 50px 150px 50px
    > .quadrant
      width 33%
      float left
      text-align center
      > .socials
        display inline-block
        > .social
          display inline-block
          width 20px
          height 20px
          background-color gc(blue1)
          padding 10px
          margin 0 5px
          border-radius 50%
          &:hover
            > svg
              fill  gc(red1)
          > svg
            fill gc(gold1)
            transition fill 0.2s linear
      > .inquiries
        text-align left
        color gc(white1)
        > .copy
          padding 0 0 10px 0
          text-transform uppercase
          gf(copy2)
        > .email
          display block
          text-decoration none
          color gc(white1)
          transition color 0.2s linear
          padding 0 0 5px 0
          &:hover
            color gc(blue1)
      > .copyright
        text-align left
        color gc(white1)
        gf(copy2)
        text-transform uppercase
        margin 27px 0 0 0


@media all and (min-width: 1px) and (max-width: 1000px)
  footer
    > .inner
      padding 40px 20px
      > .quadrant
        width 100%
        float none
        margin 0 0 20px 0
        > .inquiries
          text-align center
        > .copyright
          text-align center


