extends inc/layout

block content
  .section.top

    .lax.cheers
      .inner
        .overlay.gold.topright.upper visionaries. strategists. specialists. storytellers.

    .dblreds
    .title who we are

    .copy GOLD PR is a data-driven public relations and social media marketing agency that delivers unrivaled results for today’s emerging and market-leading health & wellness, beauty, medical technology, automotive, food & beverage companies. 
    .xing x x x
    .copy We are an independently-owned firm with boutique quality service and global agency results and resources. We are founded on the belief that size does matter. We deliver extraordinary results for our clients without the layers and subsequent costs of big agencies.  Our thinking is different and unencumbered by traditional agency boundaries. We are relentless about results and uncompromising with our standards.  This translates into growth for your business. 
    
    .dblreds

    .lax.standout
      .inner
        .overlay.red.centered
          .title standout
          .text noun stand out \'stand-at\
          .text : one that is prominent or conspicous
          .text especially because of excellence

    .dblreds
    .title 
      | we are a 
      .f_h4 standout&nbsp;
      | agency partner

  script(type='text/javascript').
    Loader.load('/jst/index.js', 'Index');
