extends inc/layout

block content

  .lax.laxin.cheers.off
    .inner
      .overlay.gold.topright.upper visionaries. strategists. specialists. storytellers.

  .dblreds
  .title who we are

  .copy GOLD PR is a data-driven public relations and social media marketing agency that delivers unrivaled results for today’s emerging and market-leading health & wellness, beauty, medical technology, automotive, food & beverage companies. 
  .xing x x x
  .copy We are an independently-owned firm with boutique quality service and global agency results and resources. We are founded on the belief that size does matter. We deliver extraordinary results for our clients without the layers and subsequent costs of big agencies.  Our thinking is different and unencumbered by traditional agency boundaries. We are relentless about results and uncompromising with our standards.  This translates into growth for your business. 
  
  .dblreds

  .lax.laxin.standout.off
    .inner
      .overlay.red.centered
        .title standout
        .text noun stand out \'stand-at\
        .text : one that is prominent or conspicous
        .text especially because of excellence

  .dblreds
  .title 
    | we are a 
    .f_h4 standout&nbsp;
    | agency partner

  .sections.laxin.off(data-thresh=30)
    .section
      .thumbnail
        include ../pub/svg/chat.svg
      .copy We have experience working with both consumer brands and business to business and do both very well. 
    .section
      .thumbnail
        include ../pub/svg/female.svg
      .copy We get women. We understand how the female consumer thinks, feels, processes information and connects with others. We know what influences her purchase behavior and how she comes to trust a brand.
    .section
      .thumbnail
        include ../pub/svg/doc.svg
      .copy Marketing in highly regulated environments is our forte. As specialists in aesthetics, medical device and pharma, we’ve pioneered PR and social media best practices for some of the largest brands in these categories.
    .section
      .thumbnail
        include ../pub/svg/horn.svg
      .copy The best marketing campaigns put experience first. We’ve pioneered experiential marketing with media, influencers and consumers in the aesthetics and beauty categories. We get the impact of UGC, endorsement and brand advocacy on a brand’s image and bottom line.
    .section
      .thumbnail.at
        include ../pub/svg/at.svg
      .copy Social media is a core competency. Our entire social team was “born digital.” They are social natives operating in a PR world. This collaborative thinking goes into every campaign we create.
    .section
      .thumbnail
        include ../pub/svg/reward.svg
      .copy We are selective about our clients. We don’t represent just anyone and everyone. We are honest about a client’s fit with us, as well as our fit with them, to ensure long-standing, mutually rewarding relationships. 
    .clear

  .cta want to become standout?

  .dblreds

  .title our approach
  .copy.medium.upper.nobotpad Everything we do is rooted in data + insights + innovative content + measurement.
  .copy.notoppad GOLD PR looks at the entire marketing mix holistically to create the foundation of each client strategy. We’ve always practiced integrated marketing. It’s more than a buzz word to us.  The caliber of our team and rigorous content development process brings our clients’ stories to market in the most impactful way. Our planning, execution and measurement methodology uses channels of paid, earned, shared and owned media to help our clients reach customers who where they are consuming information in a meaningful, compelling and targeted way.			
  .xing x x x
  .steps.laxin.off(data-thresh=30)
    .step.left
      .number 1
      .title research
      .copy Our data and insight-driven approach to PR and social media accurately guides our strategy. It ensures that every message we create is delivered to the right people in the right place at the right time. We dive deep to get to the root of your business challenge, investigate the competitive landscape and analyze audience behaviors to determine the most progressive strategies.
    .step.right
      .number 2
      .title ideate
      .copy All successful programs begin with an idea. An idea can move and inspire customer influencers to engage and embrace your brand. We stand for original ideas that rock the boat. Ideas that surprise, amaze and delight.  Taking a strong creative approach, we communicate these ideas through compelling and shareable stories built around the equity of your brand with your target audience at the core.
    .step.left
      .number 3
      .title strategize
      .copy We believe that the most successful brands are useful, likeable and fascinating. We want to help our clients champion a purpose their audience cares about. We work to build brand relevance that challenges existing thinking and influences audiences to make the brand a productive part of their lives. We use a powerful blend of traditional public relations, social and digital media outreach, strategic partnerships and influencer seeding to reach the hearts and minds of target audiences. 
    .step.right
      .number 4
      .title differentiate
      .copy The most powerful differentiator of a brand is its story.  Compelling business and brand storytelling drives impactful outcomes. In this “me-too” world, we help our clients stand out. We build campaigns that people remember, talk about, share with their friends and embrace. 
    .clear
    .step.left
      .number 5
      .title prove
      .copy We believe results go beyond the ink, the airtime and number of impressions. We prove return through measured results. We provide comprehensive reporting across all of our programs, both off-and online. It is from this knowledge that we determine efficacy, key learnings and best practices.
    .clear
  
  .dblreds

  .lax.laxin.closecheers.off
    .inner
      .overlay.gold.midleft.upper our core values

  .dblreds

  .title our core values

  .values
    .value
      .title RESPECT
      .copy We believe collaboration and listening is key to any successful partneship - with each other, with clients and client partner agencies. Respect builds trust and trust leads to a culture of open-minded acceptance, honesty and respect 100% of the time. 
    .value
      .title COMMITMENT
      .copy We believe in going the extra mile because it’s not crowded there. We think that bringing ideas, solutions and support before a client asks is essential. We treat our clients’ reputation, projects and budget as if they were our own. We work tirelessly to protect every brand’s marketing investment and ensure winning outcomes.
    .value
      .title INNOVATION
      .copy We treat every new challenge as an opportunity to break through the traditional mold with creative thinking. We help brands craft their innovation into stories that build a solid foundation for market leadership and growth.

    .value
      .title COLLABORATION
      .copy We enjoy collaborative partnerships with our clients and their other partners – founded on the belief that to be successful – we need to work together to find innovative approaches to everyday communication needs. The best collaborations create something bigger than the sum of what we could create on our own and always results in more successful outcomes. 

    .value
      .title EXCEED
      .copy We believe in real insights, analytics and most importantly, return on investment. We are relentlessly in pursuit of organizational results that impact our clients’ bottom line. We love to see our work  disrupt thinking, perception and markets. We strive to exceed expectations.
    .value
      .title EVOLVE
      .copy Change is constant. We embrace it. And we adapt. Our entrepreneurial approach and agility allows us to shift gears and instantly evolve with changes in client organizations, market conditions, media landscape, technology and trends. 
    .value
      .title TALENT
      .copy We hire it. Retain it. Reward it. Cultivate it. Over 50 percent of our team has been with us for half a decade or more. And they bring their friends. 
    .value
      .title FUN.
      .copy We believe that happier people do better work and that you should love what you do and who you do it with. We do. 
    .clear
          
  .dblreds

  .lax.laxin.services.off
    .inner
      .overlay.gold.midright.upper.wider services

  .dblreds
  
  .title services
  .copy We are a full-service team of storytellers, media specialists, relationship builders, award-winning writers, event planners, digital and social media strategists, web designers, community managers, bloggers and analytics specialists. Together, we seamlessly integrate earned, paid, shared and owned media channels to surround your brand’s target audience, online and off. 
  .copy We help our clients navigate a complex marketing and communications landscape. We create compelling strategic narratives, develop attention-grabbing content, and amplify through PR, social, and digital channels ~ all while measuring effectiveness with market-leading analytics. 

  .xing x x x

  .title.sub public relations

  .listings
    .listing
      .title CONSUMER & B2B
      .copy  Consumer and trade media relations
      .copy Product & brand launches 
      .copy Brand planning & strategy
      .copy Events/Experiential marketing
      .copy Blogger/influencer campaigns
      .copy Youth Marketing
      .copy Marketing to Women
      .copy Content creations
    .listing
      .title CORPORATE COMMUNICATIONS
      .copy Executive and internal communications 
      .copy Cause marketing & CSR 
      .copy Issues Management/Crisis Communications
      .copy Community relations
      .copy Media training
    .listing
      .title ENTERTAINMENT MEDIA/ PARTNERSHIPS
      .copy Brand media campaigns
      .copy Product placement & brand integrations
      .copy Celebrity program development/execution
      .copy Sponsorship strategy & activation

  .title.sub social media

  .listings
    .listing
      .title STRATEGY
      .copy Social brand strategy
      .copy Digital content strategy
      .copy Digital launch strategy
      .copy Event social media strategy 
    .listing
      .title CONTENT & STORYTELLING
      .copy Custom in-house content creation/production
      .copy Editorial calendar development/management
    .listing
      .title COMMUNITY MANAGEMENT
      .copy Platform/channel development
      .copy Social media consumer customer service
      .copy WORD OF MOUTH
      .copy Influencer & Ambassador Programs
    .listing
      .title EDUCATION
      .copy Company & customer social media training
      .copy Social media webinars for sales teams
      .copy Social media toolkits
      .copy Company Social Media Policy development/management
    .listing
      .title ANALYTICS
      .copy Competitive Insights
      .copy Benchmarking
      .copy Social listening/monthly metrics reporting
      .copy Regulatory monitoring/reporting
    .listing
      .title SOCIAL PERFORMANCE MARKETING
      .copy Social In-Stream lead generations
      .copy Enterprise social media
      .copy Social media advertising strategy
      .copy Social media advertising optimization and management

  .dblreds
  .lax.laxin.team.off
    .inner
      .overlay.gold.midleft.upper.wider team
  .dblreds

  .title our team
  .copy We are a diverse, high energy team of award-winning, senior marketing, communications and social and digital media professionals that are passionate about delivering results for our clients.
  .copy We are corporate communications refugees and former large agency executives. We come from varied backgrounds and have chosen to work in an entrepreneurial environment committed to highly personalized client engagement. 

  .dblreds
  .lax.laxin.clients.off
    .inner
      .overlay.gold.midright.upper.wider clients
  .dblreds

  .title clients

  .copy.center A few clients from our past & present
  .copy.center An agency is the sum total of its people and hteir collective experience.  Our team has served a wide range of clients ove rhte years, both here at GOLD PR and in previous lives.

  .clientlist
    each i in [1,2,3,4,5,6,7,8,9]
      .client
        .inner(style="background-image: url(/img/client#{i}.jpg)")
    .clear

  .dblreds
  .lax.laxin.work.off
    .inner
      .overlay.gold.midleft.upper.wider work
  .dblreds
  .title work
  .copy.center Our work helps companies establish new categories, lead conversations and become market leaders. 
  .copy.center GOLD PR’s charge is to deliver results for our clients by moving people and ideas to action. We measure these results in the form of stronger brands, increased sales, favorable issue outcomes and enhanced reputations. Our job is to help shape agendas, shift opinions and mobilize market forces to help our clients realize their goals.

  .dblreds
  .lax.laxin.contact.off
    .inner
      .overlay.gold.midright.upper.wider contact
  .dblreds
  .title contact

  .copy.nobotpad.center
    | Let us help you
    .medium STANDOUT
    | ...
  .copy.notoppad.center drop us a line and we'll get right in touch with you.
  a.link(href='mailto:info@goldpr.com') info@goldpr.com

  .xing x x x


  .copy.center.nobotpad JOIN OUR TEAM
  .copy.center.notoppad We are always on the lookout for Public Relations superstars who have experience, are strategic thinkers and possess the drive and determination to win. If you're interested in joining the dynamic GOLD PR team, please email your resume to careers@goldpr.com.
  
  .dblreds

  script(type='text/javascript').
    Loader.load('/jst/index.js', 'Index');
