extends inc/layout

block content
  .soon
    .clear
    .border

      .box
        .sector.left
          .logo
            include ../pub/svg/goldpr.svg
        .sector.right
          .detail
            .title Coming Soon!
            .copy We're busy freating a brand new experience for you! We hope you will visit again soon to see what we've been doing.
            a.button(href='mailto:info@goldpr.com') GET IN TOUCH
            .socials
              a.social.social_twitter
                include ../pub/svg/twitter.svg
              a.social.social_instagram
                include ../pub/svg/instagram.svg
              a.social.social_facebook(href='https://www.facebook.com/GoldPR')
                include ../pub/svg/facebook.svg
        .clear


  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('./jst/index.js', 'Index');
      //Global.i()
    }
