extends inc/layout

block content
  .soon
    .clear
    .border

      .box
        .left hi
          .icon
            include ../pub/svg/g.svg
          .logo
            .top GOLD
            .bottom PR | SOCIAL MEDIA
        .right hi
        .clear


  script(type='text/javascript').
    function loadercomplete() {
      Loader.load('./jst/index.js', 'Index');
      //Global.i()
    }
